<header>
    <h1>Coole Newspage</h1>
</header>

<main>
    <section>
        {{#articles}}
        <article class="home-article">
             <div class="article-home__teaser-image">
                 <a href="{{linkUrl}}"><img src="{{imageUrl}}"></a>
             </div>
             <div class="article-home__headline">
                 <a href="{{linkUrl}}"><h2>{{headline}}</h2></a>
             </div>
             <div class="container">
                <p class="article-home__author">{{author}}</p>
                <p class="article-home__date">{{date}}</p>
             </div>
             <div class="article-home__teaser-text">
               <a href="{{linkUrl}}"><p>{{teaser}}</p></a>
             </div>
        </article>
        {{/articles}}
    </section>
</main>